html {
  scroll-behavior: smooth;
}


.title {
  color: white;
  font-weight: 600;
  position: absolute;
  left: 20px;
  top: 5px;
  font-size: 25px;
}


.subtitle {
  color: white;
  font-weight: 200;
  position: absolute;
  left: 20px;
  top: 60px;
}


.button{
margin: 40px 20px;
box-shadow: -1rem 0 3rem #000;
background-color: var(--green);
position: absolute;
left: 0px;
top: 150px;
border:0;
padding: 16px 22px;
color:white;
border-radius: 10px;
cursor:pointer;

font-weight: 800;
}

.button:hover{
transition: 0.4s;
transform: scale(1.05);

}


.start{
  margin: 40px 20px;
  box-shadow: -1rem 0 3rem #000;
 border: 2px solid #008066;
  position: absolute;
  left: 0px;
  top: 150px;
  padding: 16px 22px;
  color:white;
  border-radius: 10px;
  cursor:pointer;
  text-decoration: none;
  font-weight: 800;
  }
  
  .start:hover{
  transform: scale(1.05);
  text-decoration: none;
  transition: 0.4s;
  background-color: #008066;
  }