@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

body{
    background-color: #a172e3;
    margin:0;
    font-family: 'Montserrat', sans-serif;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
font-size: 17.6px;
font-weight: 600;
}
  
  li {
    float: right;
    margin-right: 10px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  img{
      margin-top: 100px;
      width: 40%;
  }
  .imgtitle{
      font-size: 60.08px;
      margin:20px 0px;
      padding: 0px 0px 20px;
      color:white;

      font-weight: 700;
  }
  .imgbutton{
   color:white;
   font-size: 19.2px;
   padding: 13.44px 19.2px;
   background-color: transparent;
   border-radius: 10px;
   text-decoration: none;
   border: 2px solid white;
   font-weight: 700;


  }
  .imgbutton:hover{
      transition: 0.4s;
      background-color: white;
      color:#a172e3;
  }

  .about{
      background-color: white;
      height: 400px;
      color:black;
      
  }

p{
    font-size: 18.67px;
    max-width: 90%;

}
b{color:#574e55; font-weight: 700;}