:root{
  --green: #008066;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
  font-family: 'Poppins', sans-serif;      margin:  50px;
      color:white;
  transition: background 0.2s linear;
  /* background-color: #1e1f26; */
  background-color: #100e17;

}
h1{
  font-family: 'Poppins', sans-serif;  color:white;
    font-weight:800;
}

p{
  color:#58a6da;
}
h2{
  color:#58a6da;
  font-weight:bolder;
}
a{color:#3997D6; text-decoration:none;}
a:hover{
  text-decoration:underline;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}


.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  margin:50px;
  width: 50px;
  height: 26px;
  background-color:#111;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  position: absolute; top: 0; right: 0
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
}

.fa-sun {
  color: yellow;
}




button{
  margin: 40px 20px;
  box-shadow: -1rem 0 3rem #000;
  position: absolute; top: 0; right: 0;

  background-color:#008066;
border:0;
padding: 16px 22px;
color:white;
border-radius: 10px;
cursor:pointer;

font-weight: 800;
}

button:hover{
  transition: 0.4s;
  transform: scale(1.05);

}
